BlackboardDataEntry{
    border-width: 1px;
    border-color: aqua;
}
.typeComponent{
    border-width: 1px;
    border-color: rgba(201, 249, 116, 255);
}
.Int32{
    border-width: 1px;
    border-color: rgba(148,130,230,255);
}
.Float{
    border-width: 1px;
    border-color: aquamarine;
}
.System32{
    border-width: 1px;
    border-color: aquamarine;
}
.String{
    border-width: 1px;
    border-color: crimson;
}